body{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}


header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-attachment: scroll;
    position: relative;
    background-size: cover
}

header.masthead .site-heading {
    padding: 200px 0 150px;
    color: #fff
}

header.masthead .site-heading h1 {
    font-size: 70px;
    margin-left: 10%;
    margin-top: 0
}
